@import "bootstrap";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/regular.scss";
@import "fontawesome/solid.scss";

body {
  background-color: #ebeded;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
  table {
    text-align: left;
  }
}

#carousel {
  .carousel-inner {
    .carousel-item {
      background: #07294d;
      >img {
        @include media-breakpoint-up(xs) {
          width: auto;
          height: 750px;
        }
        @include media-breakpoint-up(md) {
          width: auto;
          height: 500px;
        }
        @include media-breakpoint-up(lg) {
          height: auto;
          width: 100%;
          max-height: 500px;
          max-width: 1000px;
          margin: 0 auto;
        }
      }
    }
  }
}

.marketing-box {
  .card {
    @include media-breakpoint-up(sm) {
      height: 240px;
    }
    // display: table-cell;  
    // vertical-align: middle;
  }
}

@include media-breakpoint-up(xs) {
  iframe {
    width: 100%;
  }         
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 800;
}
.headline {
  h1, h2, p {
    text-shadow: 2px 2px 3px black;
  }
  button {
    box-shadow: 2px 2px 3px black;
  }
}
.container {
  .row {
    .speaker {
      margin-top: 2em;
      .collapse, .collapsing {
        text-align: left;
        font-size: 14px;
        margin-top: 18px;
      }
    }
    h2.h2 {
      color: #f2f2f2;
      padding: .425rem 2rem;
      border-radius: 4px;
      background: #492e92;
      @include media-breakpoint-up(xs) {
        display: block;
        width: 100%;
      }
      @include media-breakpoint-up(lg) {
        display: inline-block;
        width: auto;
      }
    }
  }
}

img.headshot {
  width: 175px;
  height: auto;
}

img.natgeotravel {
  max-width: 120px;
}

img.two-line {
  @include media-breakpoint-up(xs) {
    width: 100%;
    height: auto;
  }
  @include media-breakpoint-up(lg) {
   width: 450px;
   height: auto; 
  }
}

footer {
  margin: 2em 0;
  background: #e7e7e7;
  border-radius: 4px;
  border: 1px solid #ddd;
  .social-media {
    a {
      padding: 12px 9px;
      background: #333333;
      border-radius: 3px;
      img {
        width: 24px; 
        height: 24px;
      }
    }
  }
}

.container.mission {
  max-width: 680px;
}


.abstracts {
  padding-top: 2em;
  max-width: 490px;
  margin: 0 auto;

  h1, h2, h3, h4, h5, h6, p, div {
    text-align: left;
  }

  .backlink {
    padding: 0 .5em;
  }

  h2 {
    font-size: 16px;
  }
  p.abstract {
    padding: 0 1em;
    font-size: 14px;
    text-indent: 1em;
  }
}

.btn-link, .btn-link:hover  {
  color: #333 !important; 
}

small.plenary {
  background-color: #d60740;
  border-radius: 3px;
  padding: 5px;
  color: #eee;
  font-size: .5em;
}
.modal-content {
  flex: 1 1 auto;
  .modal-body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1; 
    flex-direction: column;
    flex: 1 1 auto;
    height: 70vh;
    min-height: 240px;

    iframe.flex {
      flex: 1 1 auto;  
      border: none; 
      margin: 0; 
      padding: 0; 
    }
  }
}

.container.btn-outline-info:hover {
  background-color: #ebeded;
}