
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <br>
      <br>
      <br>
      <h2 id="abstracts" class="h2 bg-info">Research Competition for Trainees</h2>
      <br>
      <br>
      <!-- Registration Table -->
      <p class="text-left"><strong>Undergraduate, graduate, and postdoctoral trainees</strong> are invited to submit abstracts for poster presentations.</p> 
      <p class="text-left">Abstracts are limited to 300 words (no figures), detailing appropriate background, methods, results, and impact of the work to be presented.</p> 
      <p class="text-left">Selected abstracts will be invited for virtual poster presentations, with cash awards.</p>

      <p class="text-left"><strong class="text-danger">Abstract Submission Deadline:</strong> Nov. 1, 2021</p>
      <br>
      <%= partial "abstract-cta" %>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>