<div class="modal fade" id="agendaModal" tabindex="-1" role="dialog" aria-labelledby="agendaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agendaModalLabel">Tentative Agenda <small>12 Speakers with Panel Discussions</small></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-borderless table-hover">
          <tbody>
            <tr>
              <th scope="row">8:55 AM</th>
              <td>Opening Remarks</td>
            </tr>
            <tr>
              <th scope="row">9:00 - 10:00 AM</th>
              <td>3 Speakers <small>each at 20 min</small></td>
            </tr>
            <tr>
              <th scope="row">10:00 - 10:20 AM</th>
              <td>Panel Discussion <small>with the three speakers</small></td>
            </tr>
            <tr>
              <th scope="row">10:20 - 10:40 AM</th>
              <td>Break <i class="fas fa-coffee"></i></td>
            </tr>
            <tr>
              <th scope="row">10:40 - 11:40 AM</th>
              <td>3 Speakers</td>
            </tr>
            <tr>
              <th scope="row">11:40 - 12 Noon</th>
              <td>Panel Discussion</td>
            </tr>
            <tr>
              <th scope="row">12:00 - 1:30 PM</th>
              <td>Lunch + Networking <i class="fas fa-utensils"></i></td>
            </tr>
            <tr>
              <th scope="row">1:30 - 2:30 PM</th>
              <td>3 Speakers</td>
            </tr>
            <tr>
              <th scope="row">2:30 - 2:50 PM</th>
              <td>Panel Discussion</td>
            </tr>
            <tr>
              <th scope="row">2:50 - 3:10 PM</th>
              <td>Coffee Break</td>
            </tr>
            <tr>
              <th scope="row">3:10 - 4:10 PM</th>
              <td>3 Speakers</td>
            </tr>
            <tr>
              <th scope="row">4:10 - 4:30 PM</th>
              <td>Panel Discussion</td>
            </tr>
            <tr>
              <th scope="row">4:30-6:30 PM</th>
              <td>Poster Session and <br>Cocktail Reception <i class="fas fa-cocktail"></i></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

