<div class="modal fade" id="agendaModal" tabindex="-1" role="dialog" aria-labelledby="agendaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agendaModalLabel">Agenda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-borderless table-hover">
          <tbody>
            <tr>
              <th scope="row">8:00 AM</th>
              <td>Check-in + Breakfast <i class="fas fa-utensils"></i></td>
            </tr>
            <tr>
              <th scope="row">8:55 AM</th>
              <td>Opening Remarks</td>
            </tr>
            <tr>
              <th scope="row">9:00 AM</th>
              <td>
                <strong>Session 1</strong> <br>
                <small>
                  <strong>Christopher Rodell</strong> - Tissue instructive materials: development and application of myeloid-targeted therapeutics <br>
                  <strong>Jordan Green</strong> - Nanoimmunomaterials for immunoengineering and cancer therapy <br>
                  <strong>Jamal Lewis</strong> - Engineering particulate-based systems to influence the immune system
                </small>
              </td>
            </tr>
            <tr>
              <th scope="row">10:00 AM</th>
              <td>Panel Discussion</td>
            </tr>
            <tr>
              <th scope="row">10:20 AM</th>
              <td>Break <i class="fas fa-coffee"></i></td>
            </tr>
            <tr>
              <th scope="row">10:40 AM</th>
              <td>
                <strong>Session 2</strong> <br>
                <small>
                  <strong>Dora Mitchell</strong> - New cells on the block: engineering macrophage therapies <br>
                  <strong>Susan Thomas</strong> - Engineered biomaterials for lymphatic-directed immunotherapeutic drug delivery <br>
                  <strong>Michele Kutzler</strong> - Next generation HIV-1 DNA vaccine strategies for prevention of HIV-1 infection
                </small>
              </td>
            </tr>
            <tr>
              <th scope="row">11:40 PM</th>
              <td>Panel Discussion</td>
            </tr>
            <tr>
              <th scope="row">12:00 Noon</th>
              <td>Lunch + Networking <i class="fas fa-utensils"></i></td>
            </tr>
            <tr>
              <th scope="row">1:30 PM</th>
              <td>
                <strong>Session 3</strong> <br>
                <small>
                  <strong>Christopher Jewell</strong> - Harnessing biomaterials to study and control immune function <br>
                  <strong>Joel Collier</strong> - Active Immunotherapies from supramolecular assemblies <br>
                  <strong>Matthew Wolf</strong> - Cancer immunotherapy in the biomaterial microenvironment: the intersection of regenerative medicine and oncology
                </small>
              </td>
            </tr>
            <tr>
              <th scope="row">2:30 PM</th>
              <td>Panel Discussion</td>
            </tr>
            <tr>
              <th scope="row">2:50 PM</th>
              <td>Coffee Break</td>
            </tr>
            <tr>
              <th scope="row">3:10 PM</th>
              <td>
                <strong>Session 4</strong> <br>
                <small>
                  <strong>Cherie Stabler</strong> - Immunomodulation of pancreatic islet transplants for the treatment of type 1 diabetes <br>
                  <strong>Edward Botchwey</strong> - Targeting lipid signaling pathways for regenerative immunotherapy <br>
                  <strong>Kaitlyn Sadtler</strong> - Molecular mechanisms of the foreign body response: from scars on our skin to the foreign body capsule
                </small>
              </td>
            </tr>
            <tr>
              <th scope="row">4:10 PM</th>
              <td>Panel Discussion</td>
            </tr>
            <tr>
              <th scope="row">4:30-6:30 PM</th>
              <td>Poster Session and <br>Cocktail Reception <i class="fas fa-cocktail"></i></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

