<div class="headline">
  <%= image_tag "Drexel_Vertical-informal_Lockup_Gold.png", style: "width: 100px;" %>
  <h1>
    <small>3<sup>rd</sup> Annual</small> <br>
    Immune Modulation &amp; <br>
    Engineering Symposium
  </h1>
  <br>
  <h3> 
    <i style="color: #ffc600;" class="far fa-calendar-alt"></i> December 9-10, 2021 
  </h3>
  <p>The Only Conference Dedicated to Convergent Research in Translational Immunology and Engineering</p>
</div>
<%= partial "cta-carousel" %>