<div class="headline">
  <%= image_tag "Drexel_Vertical-informal_Lockup_Gold.png", style: "width: 100px;" %>

  <h1>
    Immune Modulation <br>
    &amp; Engineering Symposium
  </h1>
  <h2> 
    October 16th, 2019 
  </h2>
  <p>
    In Parallel with BMES 2019 Annual Meeting in Philadelphia &<br> B. PHL Innovation Festival 
  </p>
  <p>
    <button type="button" class="btn btn-light" href="#" title="Get notified about call for papers, poster submissions, and major conference updates" data-toggle="modal" data-target="#exampleModal"><strong ><i class="far fa-envelope"></i> Sign up for Updates</strong></button>

</button>
  </p>
</div>