<div class="headline">
  <%= image_tag "Drexel_Vertical-informal_Lockup_Gold.png", style: "width: 100px;" %>
  <h1>
    <small>2<sup>nd</sup> Annual</small> <br>
    Immune Modulation &amp; <br>
    Engineering Symposium
  </h1>
  <br>
  <h2> 
    <i class="far fa-calendar-alt"></i> October 13-15, 2020 
  </h2>
  <p>
    <strong style="color: #ffc600;">SAVE THE DATE!</strong>
  </p>
  <!-- p>
    <button type="button" class="btn btn-primary btn-lg" href="#" title="RSVP" data-toggle="modal" data-target="#registerModal"><strong ><i class="fas fa-arrow-alt-circle-right"></i> Register Now</strong></button><br>
    (Registration is free, but space is limited, so register now!) <br>
    <span style="color: #ffc600; text-decoration: underline;">Registration Deadline: Friday, Sept. 27</span>
  </p -->
</div>