<div class="container mission" style="margin-top: 4em;">
  <div class="row">
    <div class="col" style="text-align: left;">
      <br>
      <br>

      <h2>Message from the Co-chairs </h2>
      <p class="lead"><em><strong>July 16, 2020</strong></em></p>
      <p class="lead"><em>Dear Members of the Immune Modulation and Engineering community,</em></p>
      <p class="lead"><em>Due to the relevance of the topic of Immune Modulation and Engineering to the global crisis, we are committed to hold the Symposium date as planned on November 11-13, 2020. We recognize the unprecedented impact of the COVID-19 pandemic and will therefore hold the entire symposium virtually. Call for abstracts and a registration link will be available soon.</em></p>
      <br>
      <p style="text-align: center">
      <button type="button" class="btn btn-primary btn-lg" href="#" title="Email List Signup" data-toggle="modal" data-target="#emailSignupModal"><strong ><i class="fas fa-envelope-open"></i> Email List Signup</strong></button>
      </p>
      <br>
      <hr>
    </div>
  </div>
</div>