<!-- div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
      <br>
      <br>
      <br>
      <h2>1. Registration</h2>
      <a target="_blank" href="https://secure.touchnet.com/C20688_ustores/web/product_detail.jsp?PRODUCTID=2868&SINGLESTORE=true" class="btn btn-block btn-lg btn-primary">
        <i class="fas fa-check-circle"></i> Register Now
      </a>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Students</th>
            <th scope="col">Students Outside the U.S.</th>
            <th scope="col">Regular Attendees</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Free *</td>
            <td>$25</td>
            <td>$50</td>
          </tr>
        </tbody>
      </table>
      <br>
      <p><small><em>* Complimentary U.S. student registration made possible by a grant from the National Institutes of Health.</em></small></p>
    </div>
    <div class="col-md-6">
      <br>
      <br>
      <br>
      <br>
      <h2>2. Research Competition for Trainees</h2>
      <p>
        Top abstracts will be selected for live or pre-recorded talks and will receive cash prizes.
      </p>
      <p>
        <span style="color: red;">
          <i class="fas fa-exclamation-circle"></i> Deadline: Wednesday, September 30, 2020</span>
      </p>
      <button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#faqModal"><i class="fas fa-copy" ></i> Resources for Poster Presenters</button>
      <br>
      <br>
    </div>
  </div>
</div -->