<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#emailSignupModal">
        <i class="far fa-envelope"></i> Request Email Updates
      </button>
    </div>
  </div>
</div>
