<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
      <br>
      <br>
      <br>
      <h2>1. Registration</h2>
      <a target="_blank" href="https://secure.touchnet.com/C20688_ustores/web/product_detail.jsp?PRODUCTID=2868&SINGLESTORE=true" class="btn btn-block btn-lg btn-primary">
        <i class="fas fa-check-circle"></i> Register Now
      </a>
      <br>
      <br>
    </div>
    <div class="col-md-6">
      <br>
      <br>
      <br>
      <br>
      <h2>2. Abstract Submission</h2>
      <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#abstractSubmitModal"><i class="fas fa-copy"></i> Submit Abstract</button>
      <p>
        <span style="color: red;">
          <i class="fas fa-exclamation-circle"></i> Deadline: Tuesday, September 15, 2020</span>
      </p>
      <br>
      <br>
    </div>
  </div>
</div>