<div class="modal fade" id="faqModal" tabindex="-1" role="dialog" aria-labelledby="abstractSubmitModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="abstractSubmitModalLabel" style="text-align: left;">
          Resources for Poster Presenters
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left" style="overflow: auto;">
        <h2>FAQ</h2>
        <p><strong>Q1. Where can I find the PDF used in Monday’s training? And do we have the access to the recorded video of the training?</strong></p>
        <ul>
          <li>
            <a target="_blank" href="./Exhibitor Training for Cvent Attendee Hub.pdf">Exhibitor Training for Cvent Attendee Hub.pdf</a>
          </li>
          <li>
            <a href="https://cvent.zoom.us/rec/share/vIy77yM1elBc0opTF_Z0zxMaY-90Xq75On_A08-DhdoHwNGDl8sgAG_3pLbSvgBB.gioUicxdD6Yfp5SG">Recorded Video of the Training</a>
            (Access Password: RGY!t7$Y)
          </li>
        </ul>
        <p>
          <strong>Q2. Is the presentation going to be the one to be judged? Is there any specific place where the actual poster has to be uploaded? </strong>
        </p>
        <ul>
          <li>
            Please upload both video and a poster to your booth. Judges will both watch the video and review the poster. You can absolutely use the video to direct the audience to a specific section on your poster for more detailed information. Additionally, a task has been in Cvent with clear instructions where to upload the poster PDF file.
          </li>
        </ul>
        <p>
          <strong>Q3. If the poster needs to be uploaded (along with the video presentation), do the sections mentioned in the rubric, specifically Results and Discussions, have to be designated as such, or is it permissible to have other subsections mentioned in the poster which might be included into those sections but not specifically named as Results and Discussions? For example, in our research we use Computational Methods and Results and Experimental Methods and Results sections. </strong>
        </p>
        <ul>
          <li>
            It is okay to call the section 'Computational Methods' or 'Results and Experimental Methods' in place of a 'Results and Discussions’ section as long as it serves the same purpose.
          </li>
        </ul>
        <p>
          <strong>Q4. There was a mentioning of a training session for the live presenters on Wednesday. Has it been determined who will be presenting live already? There might be a misunderstanding and confusion on behalf of the presenters. For example, I did not receive any links or invitations for that training session? Does that mean that the selection of the 4 live presenters has been completed? </strong>
        </p>
        <ul>
          <li>
            Yes the selection of the 4 live presenters has been completed. They were already sent invitations to the Speaker Training on Wednesday. There are two trainings on Wednesday that are named appropriately. There is a "Drexel/Cvent Poster Presenter #2” which is a repeat of the Monday training for those who didn’t make it. And, there is "Drexel/Cvent Speaker Training” for the 4 selected live presenters. 
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>