<footer>
  <br>
  <br>
  <a href="https://drexel.edu/biomed">
    <%= image_tag "Biomed_TwoLine.png", alt: "Drexel School of Biomedical Engineering, Science and Health Systems", width: "450", class: "two-line" %>
  </a>
  <br>
  <br>
  <p>
    3141 Chestnut Street, Philadelphia, PA 19104 <br>
    <a href="https://drexel.edu/biomed/">drexel.edu/biomed</a> | 
    <a href="tel:1-215-895-2215">215.895.2215</a>
  </p>
  <div class="social-media">
    <a target="_blank" href="https://www.linkedin.com/school/27453918">
      <img class="social-icon" src="https://drexel.edu/~/media/Images/biomed/email/linkedin.aspx" alt="Linkedin">
    </a>
    &nbsp;
    <a target="_blank" href="https://www.twitter.com/drexelbiomed">
      <img class="social-icon" src="https://drexel.edu/~/media/Images/biomed/email/T-t-Logo__white_29.aspx" alt="Twitter">
    </a>
    &nbsp;
    <a target="_blank" href="https://www.instagram.com/drexelbiomed">
      <img class="social-icon" src="https://drexel.edu/~/media/Images/biomed/email/instagram.aspx" alt="Insta">
    </a>
    &nbsp;
    <a target="_blank" href="https://www.facebook.com/DrexelBIOMED">
      <img class="social-icon" src="https://drexel.edu/~/media/Images/biomed/email/FB-f-Logo__white_29.aspx" alt="Facebook">
    </a>
  </div>
  <br>
  <br>
  <p>Questions or issues regarding the website? <br>Please contact David Myers: <a href="mailto:drm68@drexel.edu">drm68@drexel.edu</a></p>
  <br>
  <br>
</footer>