<div class="container" style="margin-top: 2em;">
  <div class="row">
    <div class="col-sm marketing-box">  
      <div class="card">
        <div class="card-body">
          <p><i class="fas fa-dna" style="font-size: 3em;"></i></p>
          <p><strong>Featuring Thought Leaders from Industry and Academia</strong></p>
          <a href="#speakers" class="btn btn-info" href="#" title="View Speaker Bios">
            <i class="fas fa-angle-double-right"></i>
            2020 Speakers
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm marketing-box">
      <div class="card">
        <div class="card-body">
          <p><i class="fas fa-dollar-sign" style="font-size: 3em;"></i></p>
          <p><strong>Poster Competition for Trainees with Cash Prizes<br><!-- <span style="color: red;">Abstract Submission Deadline: Sunday, September 15, 2019</span> --></strong></p>
          <a class="btn btn-info" href="./abstracts.html" title="View Posters">
            <i class="fas fa-angle-double-right"></i>
            Archived 2019 Poster Abstracts 
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm marketing-box">
      <div class="card">
        <div class="card-body">
          <p><i class="fas fa-calendar-alt" style="font-size: 3em;"></i></p>
          <p><strong>Draft Symposium Agenda</strong> <br>Updated March 15, 2020</p>
          <a class="btn btn-info" href="pdf/Proposed Symposium Agenda_v17.pdf" title="View Agenda">
            <i class="fas fa-angle-double-right"></i>
            Tentative Agenda [PDF]
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm marketing-box">
      <div class="card">
        <div class="card-body">
          <p><i class="fas fa-desktop" style="font-size: 3em;"></i></p>
          <p>
            <strong>Venue: Fully Virtual<br>More details coming soon</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>