<div class="container" style="margin-top: 2em;">
  <div class="row">
    <div class="col-sm-6 col-md-3 marketing-box">
      <div class="card">
        <div class="card-body">
          <p style="color: #17a2b8"><i class="fas fa-desktop" style="font-size: 3em;"></i></p>
          <p>
            <strong>Virtual Event</strong> <br>Live and Interactive
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 marketing-box">
      <div class="card">
        <div class="card-body">
          <p style="color: #17a2b8"><i class="fas fa-dollar-sign" style="font-size: 3em;"></i></p>
          <p><strong>Research Competition for Trainees with Cash Prizes</strong></p>

          <a href="#abstracts">
            <i class="fas fa-arrow-right"></i> Call for Abstracts <br> Deadline: Nov. 1
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 marketing-box">
      <div class="card">
        <div class="card-body">
          <p style="color: #17a2b8"><i class="fas fa-calendar-alt" style="font-size: 3em;"></i></p>
          <p><strong>Symposium Agenda</strong> <br>Updated Oct 4, 2021</p>
          <a target="_blank" href="pdf/IMES 2021_v23.pdf">View Agenda [PDF]</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 marketing-box">  
      <div class="card">
        <div class="card-body">
          <p style="color: #17a2b8"><i class="fas fa-dna" style="font-size: 3em;"></i></p>
          <p><strong>Featuring Thought Leaders from Industry and Academia</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>