<div class="container mission" style="margin-top: 4em;">
  <div class="row">
    <div class="col">
      <br>
      <br>
      <h2 class="h2 bg-info">Mission</h2>
      <br>
      <br>
      <p class="lead">The mission of the <strong>Immune Modulation &amp; Engineering Symposium</strong> is to bring together researchers in biomedical engineering and basic and translational immunology to advance the rapidly emerging field of immune engineering. The speakers and attendees represent leaders in this field, with expertise in collaborating across disciplines to generate innovative solutions to treat disease and injury by modulating the immune system.</p>
    </div>
  </div>
</div>