<div class="container mission" style="margin-top: 4em;">
  <div class="row">
    <div class="col">
      <hr>
      <br>
      <br>
      <h2>IMES Mission</h2>
      <p class="lead">The mission of this symposium is to bring together researchers in biomedical engineering and basic and translational immunology to advance the rapidly emerging field of immune engineering. The speakers and attendees represent leaders in this field, with expertise in collaborating across disciplines to generate innovative solutions to treat disease and injury by modulating the immune system.</p>
    </div>
  </div>
</div>