<div class="container mission" style="margin-top: 4em;">
  <div class="row">
    <div class="col">
      <h2>IMES Mission</h2>
      <p class="lead">The mission of this symposium is to bring together researchers in biomedical engineering and basic and translational immunology to advance the rapidly emerging field of immune engineering. The speakers and attendees represent leaders in this field, with expertise in collaborating across disciplines to generate innovative solutions to treat disease and injury by modulating the immune system.</p>
      <hr>
    </div>
  </div>
</div>
<div class="container mission" style="margin-top: 4em;">
  <div class="row">
    <div class="col">
      <%= image_tag "natgeotravel.png", class: "natgeotravel" %>
      <br>
      <br>
      <p><strong>Plan to visit Philly–one of Nat Geo Travel's Best Trips for 2020!</strong></p>
      <p><em>"Slowly but steadily Philly has changed from a city of industrial might in the first half of the past century to a city of ingenious makers." – Johnna Rizzo, National Geographic</em></p>
      <hr>
    </div>
  </div>
</div>