<div class="modal fade" id="postersModal" tabindex="-1" role="dialog" aria-labelledby="postersModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postersModalLabel">Poster Presentations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ol style="text-align: left;">
          <li><strong>Pacifici:</strong> Environment-Responsive Multi-Fluorophore Reporter System: A Potential Tool to Monitor Particulate Vomocytosis</li>
          <li><strong>Abaricia:</strong> Regulation of Osseous Healing by Macrophage-Derived Wnt Ligands</li>
          <li><strong>Eggermont:</strong> Boosting regulatory T-cell production with immunosuppressive cryogels</li>
          <li><strong>Lin:</strong> The role of small extracellular vesicles in chronic neuropathic pain</li>
          <li><strong>Nash:</strong> Biotin-avidin-mediated drug delivery system to modulate macrophage phenotype </li>
          <li><strong>OBrien:</strong> The Effects of M1 Macrophage Activation on M1-to-M2 Phenotypic Switching </li>
          <li><strong>Eager:</strong> Gene expression analysis of diabetic foot ulcer tissue for predicting responsiveness to treatment</li>
          <li><strong>Billingsley:</strong> Engineering Lipid Nanoparticles for T Cell Delivery </li>
          <li><strong>Holt:</strong> Activity-based molecular circuits for programmable medicine</li>
          <li><strong>Connors:</strong> The impact of aging on the TLR7/8 pathway and consequences for immune function </li>
          <li><strong>Steele:</strong> Magnetically-Actuated Alginate Scaffolds: Effects on Macrophage Function </li>
          <li><strong>Freeman:</strong> Anchored Enzyme Therapy for the Amelioration of Imiquimod-induced Psoriasis </li>
          <li><strong>Kolliopoulos:</strong> Modifying mineralized collagen scaffolds to modulate the inflammatory response in craniomaxillofacial defects and enhance bone regeneration </li>
          <li><strong>Rhodes:</strong> Biomimetic Artificial Antigen Presenting Cells for Induction of Antigen-Specific Immune Tolerance </li>
          <li><strong>Smole:</strong> Uni-Vect: Antigen-inducible Immunomodulatory Molecule Expression from a Single Lentiviral Vector Platform to Enhance CAR T Cell Functions</li>
          <li><strong>Wu:</strong> Multi-Epitope Nanofiber Vaccines for Enhanced Anti-Cancer Immunity </li>
          <li><strong>Votaw:</strong> Nanomaterials containing randomized polypeptide for immune modulation</li>
          <li><strong>Chen:</strong> A Supramolecular HIV-1 Envelope Vaccine for Improving the Breadth of Antibody Responses </li>
          <li><strong>Shores:</strong> A Nanofiber-based IL17 Peptide Vaccine for Treatment of Imiquimod-Induced Psoriasis</li>
          <li><strong>Bell:</strong> Impaired immune responses in aging models of Clostridium difficile infection and vaccination</li>
          <li><strong>Liu:</strong> Attenuated Macrophage Inflammatory Response In Microporous Annealed Particle (MAP) Gels</li>
          <li><strong>Kelly:</strong> Engineering Molecular Strategies for Sublingual Nanofiber Immunization</li>
          <li><strong>Chakraborty:</strong> Towards effective targeted non-viral gene delivery systems: Interactions of immunoplexes with immune cells and their transfection efficiency</li>
          <li><strong>Sarkar:</strong> Immunomodulation of polymeric scaffolds through doping with self-assembled peptide hydrogels</li>
          <li><strong>Qazi:</strong> Mesenchymal stromal cells enhance muscle regeneration via immunomodulatory paracrine suppression of CD8+ effector memory T-cells</li>
          <li><strong>Christian:</strong> cDC1 are Essential for Coordinating Innate and Adaptive Immune Responses During Microbial Vaccination</li>
          <li><strong>Hai:</strong> Effect of Myelin debris on the Inflammatory Response of Macrophages </li>
        </ol>
      </div>
    </div>
  </div>
</div>

