<div class="modal fade" id="postersModal" tabindex="-1" role="dialog" aria-labelledby="postersModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postersModalLabel">Poster Presentations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ol style="text-align: left;">
          <li><strong>Pacifici</strong>, "<em>Environment-Responsive Multi-Fluorophore Reporter System: A Potential Tool to Monitor Particulate Vomocytosis"</em></li>
          <li><strong>Abaricia</strong>, "<em>Regulation of Osseous Healing by Macrophage-Derived Wnt Ligands"</em></li>
          <li><strong>Eggermont</strong>, "<em>Boosting regulatory T-cell production with immunosuppressive cryogels"</em></li>
          <li><strong>Lin</strong>, "<em>The role of small extracellular vesicles in chronic neuropathic pain"</em></li>
          <li><strong>Nash</strong>, "<em>Biotin-avidin-mediated drug delivery system to modulate macrophage phenotype"</em></li>
          <li><strong>OBrien</strong>, "<em>The Effects of M1 Macrophage Activation on M1-to-M2 Phenotypic Switching"</em></li>
          <li><strong>Eager</strong>, "<em>Gene expression analysis of diabetic foot ulcer tissue for predicting responsiveness to treatment"</em></li>
          <li><strong>Billingsley</strong>, "<em>Engineering Lipid Nanoparticles for T Cell Delivery"</em></li>
          <li><strong>Holt</strong>, "<em>Activity-based molecular circuits for programmable medicine"</em></li>
          <li><strong>Connors</strong>, "<em>The impact of aging on the TLR7/8 pathway and consequences for immune function"</em></li>
          <li><strong>Steele</strong>, "<em>Magnetically-Actuated Alginate Scaffolds: Effects on Macrophage Function"</em></li>
          <li><strong>Freeman</strong>, "<em>Anchored Enzyme Therapy for the Amelioration of Imiquimod-induced Psoriasis"</em></li>
          <li><strong>Kolliopoulos</strong>, "<em>Modifying mineralized collagen scaffolds to modulate the inflammatory response in craniomaxillofacial defects and enhance bone regeneration"</em></li>
          <li><strong>Rhodes</strong>, "<em>Biomimetic Artificial Antigen Presenting Cells for Induction of Antigen-Specific Immune Tolerance"</em></li>
          <li><strong>Smole</strong>, "<em>Uni-Vect: Antigen-inducible Immunomodulatory Molecule Expression from a Single Lentiviral Vector Platform to Enhance CAR T Cell Functions"</em></li>
          <li><strong>Wu</strong>, "<em>Multi-Epitope Nanofiber Vaccines for Enhanced Anti-Cancer Immunity"</em></li>
          <li><strong>Votaw</strong>, "<em>Nanomaterials containing randomized polypeptide for immune modulation"</em></li>
          <li><strong>Chen</strong>, "<em>A Supramolecular HIV-1 Envelope Vaccine for Improving the Breadth of Antibody Responses"</em></li>
          <li><strong>Shores</strong>, "<em>A Nanofiber-based IL17 Peptide Vaccine for Treatment of Imiquimod-Induced Psoriasis"</em></li>
          <li><strong>Bell</strong>, "<em>Impaired immune responses in aging models of Clostridium difficile infection and vaccination"</em></li>
          <li><strong>Liu</strong>, "<em>Attenuated Macrophage Inflammatory Response In Microporous Annealed Particle (MAP) Gels"</em></li>
          <li><strong>Kelly</strong>, "<em>Engineering Molecular Strategies for Sublingual Nanofiber Immunization"</em></li>
          <li><strong>Chakraborty</strong>, "<em>Towards effective targeted non-viral gene delivery systems: Interactions of immunoplexes with immune cells and their transfection efficiency"</em></li>
          <li><strong>Sarkar</strong>, "<em>Immunomodulation of polymeric scaffolds through doping with self-assembled peptide hydrogels"</em></li>
          <li><strong>Qazi</strong>, "<em>Mesenchymal stromal cells enhance muscle regeneration via immunomodulatory paracrine suppression of CD8+ effector memory T-cells"</em></li>
          <li><strong>Christian</strong>, "<em>cDC1 are Essential for Coordinating Innate and Adaptive Immune Responses During Microbial Vaccination"</em></li>
          <li><strong>Hai</strong>, "<em>Effect of Myelin debris on the Inflammatory Response of Macrophages"</em></li>
        </ol>
      </div>
    </div>
  </div>
</div>

