
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <br>
      <br>
      <br>
      <h2 class="h2 bg-info">Registration Information</h2>
      <!--a target="_blank" href="https://secure.touchnet.com/C20688_ustores/web/product_detail.jsp?PRODUCTID=2868&SINGLESTORE=true" class="btn btn-block btn-lg btn-primary">
        <i class="fas fa-check-circle"></i> Register Now
      </a-->
      <br>
      <br>
      <!-- Registration Table -->
      <p>Due to the relevance of Immune Modulation and Engineering to the global crisis, we are committed to hold the Symposium date as planned on December 9-10, 2021.</p>

      <p>We recognize the resurgence of the global pandemic and plan to hold the entire symposium <strong style="color: red;">virtually</strong>.</p>
 
      <p>Call for abstracts and a registration link will be available soon.</p>
      <!-- table class="table table-bordered border-primary text-center">
        <thead>
          <tr>
            <th scope="col">Full Registration</th>
            <th scope="col">Students and Postdocs</th>
            <th scope="col">Virtual Registration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$295</td>
            <td>$195</td>
            <td>$95</td>
          </tr>
        </tbody>
      </table>
      <br>
    </div -->
    <!--div class="col-md-6">
      <br>
      <br>
      <br>
      <br>
      <h2>2. Research Competition for Trainees</h2>
      <p>
        Top abstracts will be selected for live or pre-recorded talks and will receive cash prizes.
      </p>
      <p>
        <span style="color: red;">
          <i class="fas fa-exclamation-circle"></i> Deadline: Wednesday, September 30, 2020</span>
      </p>
      <button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#faqModal"><i class="fas fa-copy" ></i> Resources for Poster Presenters</button>
      <br>
      <br>
    </div>
  </div-->
</div>