
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <br>
      <br>
      <br>
      <h2 class="h2 bg-info">Registration Information</h2>
      <br>
      <br>
      <!-- Registration Table -->

      <p class="text-left"><strong style="color: red;">Please Note: Registration Closes Friday, December 3rd.</strong></p>
 
      <table class="table table-bordered border-primary text-center">
        <thead>
          <tr>
            <th class="table-primary" scope="col">Full <br>Registration</th>
            <th class="table-primary" scope="col">US Student (NIH Sponsored)</th>
            <th class="table-primary" scope="col">International Student</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>$95</strong> 
              <br>Live Stream and Recordings
            </td>
            <td>
              <strong>Free</strong> 
              <br>Live Stream Only
            </td>
            <td>
              <strong>$25</strong> 
              <br>Live Stream Only
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>