
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <br>
      <br>
      <br>
      <h2 class="h2 bg-info">Registration Information</h2>
      <br>
      <br>
      <!-- Registration Table -->
      <p>Due to the relevance of Immune Modulation and Engineering to the global crisis, we are committed to hold the Symposium date as planned on December 9-10, 2021.</p>

      <p>We recognize the resurgence of the global pandemic and plan to hold the entire symposium <strong style="color: red;">virtually</strong>.</p>
 
      <table class="table table-bordered border-primary text-center">
        <thead>
          <tr>
            <th scope="col">Full <br>Registration</th>
            <th scope="col">International Student</th>
            <th scope="col">US Student (NIH Sponsored)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>$95</strong> 
              <br>Live Stream and Recordings
            </td>
            <td>
              <strong>$25</strong> 
              <br>Live Stream Only
            </td>
            <td>
              <strong>Free</strong> 
              <br>Live Stream Only
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--div class="col-md-6">
      <br>
      <br>
      <br>
      <br>
      <h2>2. Research Competition for Trainees</h2>
      <p>
        Top abstracts will be selected for live or pre-recorded talks and will receive cash prizes.
      </p>
      <p>
        <span style="color: red;">
          <i class="fas fa-exclamation-circle"></i> Deadline: Wednesday, September 30, 2020</span>
      </p>
      <button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#faqModal"><i class="fas fa-copy" ></i> Resources for Poster Presenters</button>
      <br>
      <br>
    </div>
  </div-->
</div>