
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <br>
      <br>
      <br>
      <h2 class="h2 bg-info">Registration Information</h2>
      <br>
      <br>
      <!-- Registration Table -->
      <p class="text-left">Due to the relevance of Immune Modulation and Engineering to the global crisis, we are committed to hold the Symposium date as planned on December 9-10, 2021.</p>

      <p class="text-left">We recognize the resurgence of the global pandemic and plan to hold the entire symposium <strong style="color: red;">virtually</strong>.</p>
 
      <table class="table table-bordered border-primary text-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">US Student (NIH Sponsored)</th>
            <th scope="col">International Student</th>
            <th scope="col">Full <br>Registration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>Free</strong> 
              <br>Live Stream Only
            </td>
            <td>
              <strong>$25</strong> 
              <br>Live Stream Only
            </td>
            <td>
              <strong>$95</strong> 
              <br>Live Stream and Recordings
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>