<div id="ct3n" class="container" style="border-bottom: 1px solid #ccc; margin-top: 3em;">
  <div class="row">
    <div class="col-sm">
      <hr>
      <div class="d-flex justify-content-center align-items-center flex-wrap">
        <h2 class="h2 bg-info">Related Symposium</h2>
        <br>
        <p>
          Please also check out the <strong>10th Annual CT<sup>3</sup>N Symposium- "Nanomedicine and the Immune System"</strong> at University of Pennsylvania (less than a half a mile from Drexel). This symposium dovetails perfectly with the IMES symposium, both thematically and schedule-wise.  All information regarding the symposium can be found at the <a href="https://www.itmat.upenn.edu/ct3n/symposium/">CT<sup>3</sup>N Website</a>.
        </p>

        <a href="https://www.itmat.upenn.edu/ct3n/symposium/" title="CT3N Sympoisum">
          <%= image_tag "https://www.itmat.upenn.edu/ct3n/assets/user-content/images/ct3n-banner.png", class: "m-4", style: "width: 75%; height: auto;" %>
          </a>
      </div>
    </div>
  </div>
</div>