<div class="container" style="border-bottom: 1px solid #ccc; margin-top: 3em;">
  <div class="row">
    <div class="col-sm">
      <h2 class="h2 bg-info">Related Symposium</h2>
      <hr>
      <div class="d-flex justify-content-center align-items-center flex-wrap">
        <span class="m-4">
          <a href="#ct3n" title="CT3N Sympoisum">10th Annual CT<sup>3</sup>N Symposium <i class="fas fa-external-link-alt"></i><br>
          "Nanomedicine and the Immune System"</a>
        </span>
        <a href="#ct3n" title="CT3N Sympoisum">
          <%= image_tag "https://branding.web-resources.upenn.edu/sites/default/files/UniversityofPennsylvania_FullLogo_RGB_0.png", class: "m-4", style: "width: 200px; height: auto;" %>
        </a>
      </div>
    </div>
  </div>
</div>