<div class="container" style="border-bottom: 1px solid #ccc; margin-top: 3em;">
  <div class="row">
    <div class="col-sm">
      <hr>
      <div class="d-flex justify-content-center align-items-center flex-wrap">
        <span class="m-4">
          Related Symposium at UPenn<br>
        <a href="https://www.itmat.upenn.edu/ct3n/" title="CT3N Sympoisum">CT<sup>3</sup>N <i class="fas fa-external-link-alt"></i></a>
        </span>
        <a href="https://www.itmat.upenn.edu/ct3n/" title="CT3N Sympoisum">
          <%= image_tag "https://branding.web-resources.upenn.edu/sites/default/files/UniversityofPennsylvania_FullLogo_RGB_0.png", class: "m-4", style: "width: 200px; height: auto;" %>
          </a>
      </div>
    </div>
  </div>
</div>