<div class="container" style="border-bottom: 1px solid #ccc">
  <div class="row">
    <div class="col-sm">
      <div class="d-flex justify-content-center align-items-center flex-wrap">
        <span class="m-4"><a href="#sponsors">Sponsors</a></span>
        <%= image_tag "NIH_NIBIB_Vertical_Logo_2Color.png", class: "m-2", style: "width: 75px; height: auto;" %>
        <%= image_tag "Mallinckrodt.png", class: "m-4",style: "width: 100px; height: auto;" %>
        <%= image_tag "Integra-Foundation-Logo.png", class: "m-4",style: "width: 100px; height: auto;" %>
        <%= image_tag "Drexel_Vertical_stacked479.png", class: "m-4", style: "width: 60px; height: auto;" %>
    </div>
  </div>
</div>