<div class="container" style="border-bottom: 1px solid #ccc">
  <div class="row">
    <div class="col-sm">
      <div class="d-flex justify-content-center align-items-center flex-wrap">
        <span class="m-4">Sponsors</span>
        <%= image_tag "NIH_NIBIB_Vertical_Logo_2Color.png", class: "m-2", style: "width: 75px; height: auto;" %>
        <%= image_tag "Integra-Foundation-Logo.png", class: "m-4",style: "width: 125px; height: auto;" %>
        <%= image_tag "COMprimary81.png", class: "m-4", style: "width: 125px; height: auto;" %>
      </div>
    </div>
  </div>
</div>