<div class="container" style="margin-top: 2em;">
  <div class="row">
    <div class="col-sm venue">
      <h2>Venue</h2>
      <p>The Study at University City <br>Philadelphia Hotel Near Drexel University & UPenn</p>
      <p>20 S. 33rd Street <br>Philadelphia, PA 19104</p>
      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJb4XbJVDGxokRldvYy_ll05s&key=AIzaSyChSWiGfYZTCcC3oVuT1L9Tdxbv2arjcBo" allowfullscreen></iframe>
    </div>
  </div>
</div>